.error-line {
  background-color: red;
  width: 4px;
  height: 64px;
}
.success-line {
  background-color: green;
  width: 4px;
  height: 64px;
}

.P-snack{
  bottom: 40px;
  right: 40px;
}
.text-error {
  color: red;
}
.text-success {
  color: green;
}