.icon-bg-home {
  background-image: url(../assets/icon/Background-pattern.svg);
}
.icon-search {
  background-image: url(../assets/icon/search.svg);
}
.icon-arrow-up-right {
  background-image: url(../assets/icon/arrow-up-right.svg);
}
.icon-arrow-down {
  background-image: url(../assets/icon/arrow-down.svg);
}

.iC-S20 {
  width: 20px;
  height: 20px;
}
.iC-S24 {
  width: 24px;
  height: 24px;
}
.iC-S40 {
  width: 40px;
  height: 40px;
}