// START === Background Holder
.img-Background-Cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-Background-none {
  background-position: center;
  background-repeat: no-repeat;
  background-size: unset;
}

.img-Background-Contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
// END === Background Holder
