.cursor-click {
  cursor: pointer;
}

// border
.border-F-radius-s8 {
  border-radius: 8px;
}

.border-F-radius-s16 {
  border-radius: 16px;
}

.border-F-radius-s50 {
  border-radius: 50px;
}

.border-gray-s1 {
  border: 1px #D0D5DD solid;
}

.divShadow {
  
  box-shadow: 0px 12px 16px -4px #10182814
}
.gap-s12{
  gap: 12px;
}
.gap-s32{
  gap: 32px;
}